@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Big+Shoulders+Display:wght@800;900&family=Inter:wght@300;400;700&family=League+Spartan:wght@400;700&family=Outfit:wght@300&family=Space+Grotesk:wght@500&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.main__container{
    height:100vh;
    background: #070724;
    overflow: hidden;
}
.mobile__planet_navigation{
    display: none;
}

.planets__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 8.30078125%;
}
.header_logo{
    margin-left: 32px;
}
.header_logo > h1{
    color: #FFF;
    font-family: Antonio;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.05px;
    text-transform: uppercase;
}
.norm_nav{
    display:flex;
    gap: 33px;
    align-items: center;
    margin-right: 40px;
}
.norm_nav > h1 {
    color: #FFF;
    font-family: League Spartan;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 227.273% */
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.75;
    cursor: pointer;
    position: relative;
}


.norm_nav > h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-top: 4px solid transparent; /* Initial transparent border */
    transition: border-top-color 0.3s; /* Smooth transition effect */
    margin-top: -26.8px;
}

.norm_nav > h1:hover{
    opacity: 1;
}

.norm_nav > h1:hover::before {
    border-top-color: #fff; /* Change the border color on hover */
}

.norm_nav > h1:nth-child(1):hover::before{
    border-top-color: #419EBB;
}
.norm_nav > h1:nth-child(2):hover::before{
    border-top-color: #EDA249;
}
.norm_nav > h1:nth-child(3):hover::before{
    border-top-color: #6D2ED5;
}
.norm_nav > h1:nth-child(4):hover::before{
    border-top-color: #D14C32;
}
.norm_nav > h1:nth-child(5):hover::before{
    border-top-color: #D83A34;;
}
.norm_nav> h1:nth-child(6):hover::before{
    border-top-color: #CD5120;
}
.norm_nav > h1:nth-child(7):hover::before{
    border-top-color: #1EC1A2;
}
.norm_nav > h1:nth-child(8):hover::before{
    border-top-color: #2D68F0;
}
.overview {
    height: 100%;
    position: relative; /* Add this to establish a new positioning context */
}
.norm_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.norm_nav > h1 {
    margin: 0 10px;
    cursor: pointer;
    color: #fffcfc;
    position: relative;
}

.norm_nav > h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-top: 4px solid transparent;
    transition: border-top-color 0.3s;
    margin-top: -26.8px;
}

.norm_nav > h1.active_nav::before {
    border-top-color: inherit; /* Color for the active link */
}

/* Hover effect to change the border color on hover */
.norm_nav > h1:hover::before {
    border-top-color: #fff;
}

.starry-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: shimmer 5s infinite alternate linear;
}

.dot-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents dots from overflowing the container */
}

.component {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: transparent; /* Example background color for the component */
    border-radius: 8px;
}

.dot {
    position: absolute;
}

@keyframes shimmer {
    0% {
        opacity: 0.4; /* Dots start semi-transparent */
    }
    100% {
        opacity: 0.6; /* Dots end fully opaque */
    }
}

.planet_full_info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.planet__container{
    width: 320px;
    height: 320px;
    flex-shrink: 0;
    margin-top: 11.6328125%;
    margin-left: 23.26388888888889%;
    position: relative;
}
.planet__container > img{
    width: 100%;
    height: 100%;
}

.planet_geology{
    display:none;
    width: 158px;
    height: 165px;
    flex-shrink: 0;
    background: url("../assets/geology-mercury.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    margin-left: 83px;
    margin-bottom: -90px;
}

.planet_info__contaner{
    margin-top: 5.3046875%;
    margin-right: 11.458333333333332%;
}
.planet_info__contaner > div:nth-child(1) > h1{
    color: #FFF;
    font-family: Antonio;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.planet_info__contaner > div:nth-child(1) > p{
    margin-top: 23px;
    color: #FFF;
    font-family: League Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
    width: 350px;
    height: 150px;
}
.planet_info__contaner > div:nth-child(1) > h3{
    color: #FFF;
    font-family: League Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
    opacity: 0.5;
}
.planet_info__contaner > div:nth-child(1) > h3 > a{
    opacity: 0.5;
    color: #FFF;
    font-family: League Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-decoration-line: underline;
    cursor: pointer;
}
.planet__overview{
    margin-top: 39px;
    width: 350px;
    height: 48px;
    flex-shrink: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);;
    display: flex;
    align-items: center;
    gap: 28px;
    cursor: pointer;
}
.planet__overview > h2{
    margin-left: 28px;
    color: #FFF;
    font-family: League Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
    opacity: 0.5;
}
.planet__overview > h1{
    color: #FFF;
    font-family: League Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
}

.surface_geology{
    margin-top: 16px;
    width: 350px;
    height: 48px;
    flex-shrink: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);;
    display: flex;
    align-items: center;
    gap: 28px;
    cursor: pointer;
}
.surface_geology > h2{
    margin-left: 28px;
    color: #FFF;
    font-family: League Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
    opacity: 0.5;
}
.surface_geology > h1{
    color: #FFF;
    font-family: League Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
}

.internal_sructure{
    margin-top: 16px;
    width: 350px;
    height: 48px;
    flex-shrink: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);;
    display: flex;
    align-items: center;
    gap: 28px;
    cursor: pointer;
}
.internal_sructure > h2{
    margin-left: 28px;
    color: #FFF;
    font-family: League Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
    opacity: 0.5;
}
.internal_sructure > h1{
    color: #FFF;
    font-family: League Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
}

.planet__details__container{
    margin-top: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.planet__details__container > div{
    padding-top: 20px;
    padding-left: 23px;
    width: 16.8%;
    height: 110px;
    flex-shrink: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);;
}

.planet__details__container > div > h2{
    color: #FFF;
    font-family: League Spartan;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 227.273% */
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.5;
}
.planet__details__container > div > h1{
    margin-top: 4px;
    color: #FFF;
    font-family: Antonio;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;
    text-transform: uppercase;
}


@media only screen and (max-width: 1130px){
    .mobile__planet_navigation{
        display: none;
    }
    .main__container{
        overflow: auto;
    }
    .header_logo {
        margin-left: 0;
    }
    .header_logo > h1{
        margin-top: 22px;
        color: #FFF;
        font-family: Antonio;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -1.05px;
        text-transform: uppercase;
    }
    .norm_nav > h1{
        color: #FFF;
        font-family: League Spartan;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; /* 227.273% */
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .planets__nav{
        flex-direction: column;
        justify-content: space-between;
        height: 15.52734375%;
    }
    .planet_nav_container{
        margin-right: 0;
        margin-bottom: 27px;
    }
    .planet_full_info{
        flex-direction: column;
    }
    .planet__container{
        width: 184px;
        height: 184px;
        flex-shrink: 0;
        margin-top: 28.2578125%;
        margin-left: 38.15104166666667%;
    }
    .planet_geology{
        margin-left: 14px;
        margin-bottom: -110px;
    }
    .planet_info__contaner{
        max-width: 100%;
        width: 100%;
        display: flex;
        gap: 69px;
        margin-top: 12.6953125%;
        justify-content: center;
    }
    .planet_info__contaner > div:nth-child(1) > h1 {
        color: #FFF;
        font-family: Antonio;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    .planet_info__contaner > div:nth-child(1) > p {
        color: #FFF;
        font-family: League Spartan;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 200% */
        height: 110px;
    }
    .planet_info__contaner > div:nth-child(1) > h3 {
        color: #FFF;
        font-family: League Spartan;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 208.333% */
    }
    .planet_info__contaner > div:nth-child(1) > h3 > a{
        opacity: 0.5;
        color: #FFF;
        font-family: League Spartan;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        text-decoration-line: underline;
    }
    .planet_data__color > div{
        width: 281px;
        height: 40px;
        flex-shrink: 0;
    }
    .planet_data__color > div > h1{
        color: #FFF;
        font-family: League Spartan;
        font-size: 9px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; /* 277.778% */
        letter-spacing: 1.929px;
        text-transform: uppercase;
    }
    .planet_data__color > div > h2{
        color: #FFF;
        font-family: Spartan;
        font-size: 9px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; /* 277.778% */
        letter-spacing: 1.929px;
        text-transform: uppercase;
        opacity: 0.5;
    }
    .planet__details__container > div{
        height: 88px;
    }
    .planet__details__container > div > h2{
        color: #FFF;
        opacity: 0.5;
        font-family: League Spartan;
        font-size: 8px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 200% */
        letter-spacing: 0.727px;
        text-transform: uppercase;
    }
    .planet__details__container > div > h1{
        color: #FFF;
        font-family: Antonio;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.9px;
        text-transform: uppercase;
    }
    .norm_nav > h1::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        border-top: 4px solid transparent;
        transition: border-top-color 0.3s;
        margin-top: 45px;
    }
    .norm_nav > h1::before{
        border: none;
    }
    .norm_nav > h1:nth-child(1):hover::after{
        border-top-color: #419EBB;
    }
    .norm_nav > h1:nth-child(2):hover::after{
        border-top-color: #EDA249;
    }
    .norm_nav > h1:nth-child(3):hover::after{
        border-top-color: #6D2ED5;
    }
    .norm_nav > h1:nth-child(4):hover::after{
        border-top-color: #D14C32;
    }
    .norm_nav > h1:nth-child(5):hover::after{
        border-top-color: #D83A34;;
    }
    .norm_nav> h1:nth-child(6):hover::after{
        border-top-color: #CD5120;
    }
    .norm_nav > h1:nth-child(7):hover::after{
        border-top-color: #1EC1A2;
    }
    .norm_nav > h1:nth-child(8):hover::after{
        border-top-color: #2D68F0;
    }
    .norm_nav {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .norm_nav > h1 {
        margin: 0 10px;
        cursor: pointer;
        color: #ffffff;
        position: relative;
    }
    
    .norm_nav > h1::bafter {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        border-top: 4px solid transparent;
        transition: border-top-color 0.3s;
        margin-top: -26.8px;
    }
    
    .norm_nav > h1.active_nav::after {
        border-top-color: #fff; /* Color for the active link */
    }
    
    /* Hover effect to change the border color on hover */
    .norm_nav > h1:hover::after {
        border-top-color: #fff;
    }

    .mobile_navigation_container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .mobile_navigation_container h1 {
        margin: 0 10px;
        cursor: pointer;
        color: #ffffff;
        position: relative;
    }
    
    .mobile_navigation_container h1::before {
        content: "";
        position: absolute;
        bottom: -20px; /* Position the border below the component */
        left: 0;
        width: 100%;
        height: 5px;
        border-top: 4px solid transparent;
        transition: border-top-color 0.3s;
    }
    
    .mobile_navigation_container h1.active_nav::before {
        border-top-color: #fff; /* Color for the active link */
    }
    
    .mobile_navigation_container h1:hover::before {
        border-top-color: #fff; /* Change the border color on hover */
    }
    .mobile__planet_navigation{
        position:absolute;
        max-width: 83%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        background: #070724;
        z-index: 2;
        display: none;
    }

}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.mobile_navigation_container{
    display: none;
}
.active_nav::before{
    border-top-color: #419EBB;
}
.mobile__planet_navigation{
    display: none;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding-top: 64px;
    padding-left: 26px;
    padding-right: 32px;
}
.deviding_line{
    width: 327px;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.1;
    background: #FFF;
}
.mobile__planet_navigation > h1{
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 166.667% */
    letter-spacing: 1.364px;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
}
.mobile__planet_navigation > h1 > span{
    margin-left: 25px;
}
.mobile__planet_navigation > h1 > svg:nth-child(3){
    margin-left: auto;
}
@media only screen and (max-width: 700px){
    .main__container{
        overflow: auto;
    }
    .planet_nav_container{
        margin-bottom: 0;
        margin-right: 24px;
    }
    .header_logo > h1{
        margin-top: 0;
        margin-left: 24px;
    }
    .planets__nav{
        flex-direction: row;
        justify-content: space-between;
        height: 7.157894736842104%;
    }
    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 3px 0;
        transition: 0.4s;
    }
    .menu-toggle {
        display: block;
        margin-top: 26px;
        margin-left: 24px;
    }
    .norm_nav{
        display: none;
    }

    .planet__container{
        width: 111px;
        height: 111px;
        flex-shrink: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .planet_full_info{
        align-items: center;
    }
    .planet_data__color{
        display: none;
    }
    .planet_info__contaner{
        margin-right: 0;
    }
    .planet_info__contaner > div:nth-child(1){
        width: 327px;
        height: 235px;
        flex-shrink: 0;
        text-align: center;
        margin-top: 10.31578947368421%;
    }
    .planet_info__contaner > div:nth-child(1) > h1{
        color: #FFF;
        text-align: center;
        font-family: Antonio;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .planet_info__contaner > div:nth-child(1) > p{
        margin-top: 16px;
        color: #FFF;
        text-align: center;
        font-family: League Spartan;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 200% */
    }
    .planet_info__contaner > div:nth-child(1) > h3{
        margin-bottom: 32px;
        color: #FFF;
        font-family: League Spartan;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 208.333% */
    }
    .planet_info__contaner > div:nth-child(1) > h3 > a {
        opacity: 0.5;
        color: #FFF;
        font-family: LEague Spartan;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        text-decoration-line: underline;
    }
    .planet__details__container{
        flex-direction: column;
        gap: 8px;
    }
    .planet__details__container > div{
        padding-top: 0;
        padding-left: 0;
        width: 74.4%;
        height: 48px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;

    }
    .planet__details__container > div > h2{
        color: #FFF;
        font-family: Spartan;
        font-size: 8px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px; /* 200% */
        letter-spacing: 0.727px;
        text-transform: uppercase;
        opacity: 0.5;
        text-align: center;
    }
    .planet__details__container > div > h1{
        margin-top: 0;
        text-align: center;
        color: #FFF;
        text-align: right;
        font-family: Antonio;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.75px;
        text-transform: uppercase;
    }
    .mobile_navigation_container{
        display:flex;
        flex-direction: row;
        max-width: 100%;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .planet__overview{
        border: none;
        width: 80px;
        margin-top: 0;
    }
    .internal_sructure{
        border: none;
        width: 80px;
        margin-top: 0;
    }
    .surface_geology{
        border: none;
        width: 80px;
        margin-top: 0;
    }
    .planet_data__color_mobile{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 44px;
    }
    .planet_geology{
        width: 90px;
        margin-left: 12px;
    }
    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 3px 0;
        transition: 0.4s;
    }
    .burger_menu{
        cursor: pointer;
        opacity: 0.5;
    }
    .burger_menu:hover{
        opacity: 1;
    }

}

.noselect {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header_logo > h1{
    cursor:default;
}