@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Big+Shoulders+Display:wght@800;900&family=Inter:wght@300;400;700&family=League+Spartan:wght@400;700&family=Outfit:wght@300&family=Space+Grotesk:wght@500&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.main__container{
    height:100vh;
    background: #070724;
    overflow: hidden;
}


.planets__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 8.30078125%;
}
.header_logo{
    margin-left: 32px;
}
.header_logo > h1{
    color: #FFF;
    font-family: Antonio;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.05px;
    text-transform: uppercase;
}
.planet_nav_container{
    display:flex;
    gap: 33px;
    align-items: center;
    margin-right: 40px;
}
.planet_nav_container > h1 {
    color: #FFF;
    font-family: League Spartan;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 227.273% */
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.75;
    cursor: pointer;
    position: relative;
}


.planet_nav_container > h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-top: 4px solid transparent; /* Initial transparent border */
    transition: border-top-color 0.3s; /* Smooth transition effect */
    margin-top: -26.8px;
}

.planet_nav_container > h1:hover{
    opacity: 1;
}

.planet_nav_container > h1:hover::before {
    border-top-color: #fff; /* Change the border color on hover */
}

.planet_nav_container > h1:nth-child(1):hover::before{
    border-top-color: #419EBB;
}
.planet_nav_container > h1:nth-child(2):hover::before{
    border-top-color: #EDA249;
}
.planet_nav_container > h1:nth-child(3):hover::before{
    border-top-color: #6D2ED5;
}
.planet_nav_container > h1:nth-child(4):hover::before{
    border-top-color: #D14C32;
}
.planet_nav_container > h1:nth-child(5):hover::before{
    border-top-color: #D83A34;;
}
.planet_nav_container > h1:nth-child(6):hover::before{
    border-top-color: #1EC1A2;
}
.planet_nav_container > h1:nth-child(7):hover::before{
    border-top-color: #CD5120;
}
.planet_nav_container > h1:nth-child(8):hover::before{
    border-top-color: #1EC1A2;
}
.overview {
    height: 100%;
    position: relative; /* Add this to establish a new positioning context */
}

.starry-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: shimmer 5s infinite alternate linear;
}

.dot-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents dots from overflowing the container */
}

.component {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: transparent; /* Example background color for the component */
    border-radius: 8px;
}

.dot {
    position: absolute;
}

@keyframes shimmer {
    0% {
        opacity: 0.4; /* Dots start semi-transparent */
    }
    100% {
        opacity: 0.6; /* Dots end fully opaque */
    }
}

.planet_full_info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.planet__container{
    width: 320px;
    height: 320px;
    flex-shrink: 0;
    margin-top: 11.6328125%;
    margin-left: 23.26388888888889%;
    position: relative;
}
.planet__container > img{
    width: 100%;
    height: 100%;
}

.planet_geology{
    display:none;
    width: 158px;
    height: 165px;
    flex-shrink: 0;
    background: url("../assets/geology-mercury.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    margin-left: 83px;
    margin-bottom: -90px;
}

.planet_info__contaner{
    width: 350px;
    margin-top: 5.3046875%;
    margin-right: 11.458333333333332%;
}
.planet_info__contaner > h1{
    color: #FFF;
    font-family: Antonio;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.planet_info__contaner > p{
    margin-top: 23px;
    color: #FFF;
    font-family: Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
    width: 350px;
    height: 160px;
}
.planet_info__contaner > h3{
    color: #FFF;
    font-family: Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
    opacity: 0.5;
}
.planet_info__contaner > h3 > a{
    opacity: 0.5;
    color: #FFF;
    font-family: Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-decoration-line: underline;
    cursor: pointer;
}
.planet__overview{
    margin-top: 39px;
    width: 350px;
    height: 48px;
    flex-shrink: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);;
    display: flex;
    align-items: center;
    gap: 28px;
    cursor: pointer;
}
.planet__overview > h2{
    margin-left: 28px;
    color: #FFF;
    font-family: Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
    opacity: 0.5;
}
.planet__overview > h1{
    color: #FFF;
    font-family: Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
}

.surface_geology{
    margin-top: 16px;
    width: 350px;
    height: 48px;
    flex-shrink: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);;
    display: flex;
    align-items: center;
    gap: 28px;
    cursor: pointer;
}
.surface_geology > h2{
    margin-left: 28px;
    color: #FFF;
    font-family: Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
    opacity: 0.5;
}
.surface_geology > h1{
    color: #FFF;
    font-family: Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
}

.internal_sructure{
    margin-top: 16px;
    width: 350px;
    height: 48px;
    flex-shrink: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);;
    display: flex;
    align-items: center;
    gap: 28px;
    cursor: pointer;
}
.internal_sructure > h2{
    margin-left: 28px;
    color: #FFF;
    font-family: Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
    opacity: 0.5;
}
.internal_sructure > h1{
    color: #FFF;
    font-family: Spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 208.333% */
    letter-spacing: 2.571px;
    text-transform: uppercase;
}

.planet__details__container{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.planet__details__container > div{
    padding-top: 20px;
    padding-left: 23px;
    width: 325px;
    height: 110px;
    flex-shrink: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);;
}

.planet__details__container > div > h2{
    color: #FFF;
    font-family: Spartan;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 227.273% */
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.5;
}
.planet__details__container > div > h1{
    margin-top: 4px;
    color: #FFF;
    font-family: Antonio;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;
    text-transform: uppercase;
}